<<<<<<< HEAD
*{
padding: 0%;
margin: 0%;
}
body{
    background-color: blanchedalmond;
    text-align: center;
    font-family: "Gravitas One", serif;
}
h2{
    color: rgb(101, 48, 10);
    transition: 2s;
    position: relative;
    text-align: center;

}
h2:hover{
    color: rgb(233, 233, 171);
    background-color: rgb(105, 50, 10);
    border-radius: 5px;
    padding: 10px 15px;
    margin: auto;
}

.images-left{
    width: 200px;
    height: 200px;
    margin: 40px 40px;
    cursor: pointer;
    transition: 2s;
    display: flex;
   
    padding: 50px;
}
.images-left:hover{
transform: scale(1.1);
transition: 2s;
}
.images-right{
    width: 200px;
    height: 200px;
    margin: 40px 40px;
    cursor: pointer;
    transition: 2s;
    display: flex;
    padding: 50px;
}
.images-right:hover{
    transform: scale(1.1);
transition: 2s;
}
.gravitas{
    font-family: "Gravitas One", serif;
    font-style: normal;
  }
=======
.copyright-container {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    overflow: hidden;
  }
  
  .copyright-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    animation: slide-in 2s ease-out, fade-in 2s ease-out;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
>>>>>>> 2716e2119c7f25f193a112d74a042e9335f73d13
